@import '/src/index.scss';

.home-container__content {
    padding-bottom: $space_big;

    .trend-film {
        margin: 0 $space_big;
        width: calc(100% - $space_big * 2);
        height: 40rem;
        position: relative;
        border-radius: $space * 2;
        overflow: hidden;
        margin-bottom: $space_big;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.508);
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .info {
            position: absolute;
            height: 100%;
            width: 100%;
            padding: $space_big;
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .info__xp {
                background: rgba(255, 255, 255, 0.519);
                color: $tretiary_element_color;
                padding: .5rem 1rem;
                border-radius: $space;
                width: fit-content;
                font-weight: 600;
            }

            .info__main {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: $space;

                .info__name {
                    color: #fff;
                    font-weight: 700;
                    font-size: 5rem;
                }

                .info__group {
                    display: flex;
                    align-items: center;
                    gap: $space;
                }

                .info__add {
                    color: rgba(255, 255, 255, 0.65);
                    font-size: 1.3rem;
                }

                .info__watch {
                    background: $primary_element_color;
                    height: 5rem;
                    width: 10rem;
                    border-radius: $space;
                    color: #fff;
                    border: none;
                    font-weight: 600;
                    transition: all .2s linear;
                    cursor: pointer;

                    &:hover {
                        box-shadow: 0 0 3rem $primary_element_color;
                    }
                }

                .info__wish {
                    height: 5rem;
                    width: 5rem;
                    border: none;
                    border-radius: $space;
                    background-color: rgba(255, 255, 255, 0.65);
                    backdrop-filter: blur(.5rem);
                    color: #fff;
                    font-size: 2rem;
                    cursor: pointer;
                }
            }
        }
    }

    .chapter {
        
        .chapter__name {
            color: $tretiary_element_color;
            font-weight: 600;
            font-size: 1.8rem;
            margin-left: $space_big;
        }

        .chapter__content {
            padding: $space $space_big;
            gap: $space;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
            height: fit-content;

            &.--scroll {
                display: flex;
                overflow: auto;

                .item {
                    width: 20rem;
                }
            }

            &::-webkit-scrollbar {
                height: 0;
                width: 0;
            }            
        }
    }
}