@import '/src/index.scss';

.highlight-button {
    background: $primary_element_color;
    height: 5rem;
    min-width: 10rem;
    padding: 0 1.5rem;
    border-radius: $space;
    color: #fff;
    border: none;
    font-weight: 600;
    transition: all .2s linear;
    cursor: pointer;

    &:hover {
        background: $primary_element_color--hover;
    }
}