@import '/src/index.scss';

.preview-container {
    background-image: url(https://occ-0-256-2568.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABWLqqfIxOhGGjSyegfImujv6mz09DyEV5Qi-SSSH_KtcICTPpu2YosnVhIGTjbXO94Sx7irIIuq2-U-FKdXH1cv-S949lIHrdMCc.jpg?r=93a);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;

    .poster {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 5rem;
        width: 50%;

        .poster__logo {
            width: 100%;
        }

        h1 {
            color: #fff;
            display: flex;
            align-items: flex-end;
            margin-top: 3rem;
            font-weight: 800;
            font-size: 3rem;
            line-height: 37px;

            .logo {
                margin-left: 1rem;
            }
        }

        button {
            margin-top: 3rem;
        }
    }
}