$space: 2rem;
$space_big: 3rem;

$content_color: #F8F9FF;

$primary_element_color: #D91F27;
$primary_element_color--hover: #b81b23;
$secondary_element_color: #819BB2;
$secondary_element_color--hover: #dde5eb;
$tretiary_element_color: #314255;

$primary_shadow: #d8dae5;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-weight: 400;

    &::-webkit-scrollbar {
        width: 1rem;
        height: 1rem;
    }   

    &::-webkit-scrollbar-thumb {
        background: $secondary_element_color;
        border-radius: $space;
        border: 3px solid transparent;
        background-clip: content-box;
    }
    
    &::-webkit-scrollbar-track {
        background: transparent;
    }
}

html {
    font-size: 10px;
}

body {
    background-color: $content_color;
}

input {
    outline: none;
    background: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.logo {
    color: #314255;
    font-weight: 900;
    font-size: 3rem;

    span {
        color: $primary_element_color;
        font-weight: inherit;
    }
}

.app-container {
    display: flex;
    height: 100vh;

    .app-container__content {
        background-color: $content_color;
        overflow: auto;
        z-index: 1;
        flex: 1;
        transition: all .3s ease-in;

        &.--open {
            position: fixed; 
            overflow: hidden;
            border-radius: $space;
            box-shadow: 0 0 4rem $primary_shadow;
            top: 6rem;
            left: 25rem;

            .trend-film img {
                left: 10%;
            }
        }
    }

    .big-word {
        width: 100%;
        text-align: center;
        margin: auto 0;
    }
}

.big-word {
    font-size: 18vw;
    font-weight: 900;
    color: $secondary_element_color;
    opacity: .1;
}